.root {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	justify-content: center;
	align-items: flex-start;
	.header {
		width: 100%;
		text-align: center;
	}
	.main {
		width: 100%;
		display: flex;
		min-height: 100%;
		justify-content: center;
	}
	.footer {
		width: 100%;
		text-align: center;
	}
}